# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
.pytype/
.pytest_cache/
*.egg-info/
.installed.cfg
*.egg
docs/_*
docs/clean

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Max OS
.DS_Store
.idea/workspace.xml
.idea/vcs.xml
.idea/TensorNetworkFork.iml
.idea/modules.xml
