dist: xenial 
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pylint
# command to run tests
script:
  - pylint ./tensornetwork/
  - pytype ./tensornetwork/
  - pytest
  - python3 setup.py build
